@import url('https://fonts.googleapis.com/css?family=Russo+One:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Cinzel+decorative:100,200,300,400,500,600,700');

html {
    scroll-behavior: smooth;
}

/*------------------------------------------------------Colours--*/

.bg-color-title {
    background-color: #fbc500;
}

.bg-color-main {
    background-color: #0f5f7b;
}

/*#09353a*/

/*--------------------------------------------------------Special paddings/margins/text */

.row,
.container-fluid {
    margin: 0;
    padding: 0;
}

.section-column {
    padding: 0 8% 100px;
}

p {
    color: white;
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

/*------------------------------------------------------Icons--*/

/*------------------------------------------------------Header--*/

.title {
    font-family: "Russo One", sans-serif;
    color: #f7c400;
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 10px;
}

@media(min-width:450px) {
    .title {
        font-size: 35px;
    }
}

.navbar {
    padding: 0;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #0f5f7b;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
    padding: 0;
}

.navbar-nav .nav-item .nav-link {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #fbc500;
    transform: scale(1.2);
}

.container {
    padding: 0;
}

.bg-image {
    height: 90vh;
    width: 100%;
}

/*------------------------------------------------------News-section--*/

.section-heading {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: "Russo One", sans-serif;
    margin: 50px auto 80px;
    color: #fbc500;
    text-decoration: underline;
}

.news-image {
    display: block;
    margin: 0 auto 25px;
    height: 300px;
    width: 95%;
}

.media-body {
    margin-bottom: 40px;
}

/*------------------------------------------------------Games-section--*/

.games-section-column {
    padding: 0px 8% 60px;
}

.card-container {
    text-align: center;
}

.card {
    margin: 0 auto 40px;
    text-align: center;
    background-color: #0A273C;
    border-radius: 2%;
    transition: .5s;
    width: 100%;
    border: 3px solid #6f6a64;
}

.card:hover {
    transform: scale(1.2);
    /* When the user hovers over the card the card will expand and appear to move slightly forward to highlght which card the user wants to download */
    box-shadow: 2px 2px 2px #000;
    z-index: 2;
}

.card img {
    height: 300px;
    background-color: #4690b2;
    border-bottom: 3px solid #6f6a64;
}

.card-title {
    font-family: "Russo One";
    font-weight: 700;
    height: 76px;
    font-size: 31px;
    color: #fbc500;
}

.bh-cover {
    background-color: black!important;
    /* These background colors match the image colors and make the cards look much better */
}

.dz-cover {
    background-color: green!important;
}

.card-body a {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: x-large;
    font-weight: 700;
    background-color: #27527f;
    color: white;
}

.card-body a:hover {
    background-color: #0f5f7b;
    color: #fbc500;
}


/*------------------------------------------------------Gallery-section--*/

.gallery-col {
    padding: 0px 16.66% 100px;
}

/*
.carousel {
    max-width: 800px;
    margin: 0 auto;
    width: 90%;
} */

.carousel-item {
    position: relative; /* Found out a way to maintain aspect ratio, using padding-top to determine the dimension of height by forcing height=0" */
    height: 0;
    padding-top: 56.25%
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*------------------------------------------------------About-section--*/

.about {
    text-align: center;
}

.about img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

/*------------------------------------------------------Footer--*/

.social-media {
    height: 125px;
    background-color: #2a2727;
}

.social-media ul {
    width: 100%;
    text-align: center;
    padding: 25px 0 25px;
    margin-bottom: 0;
    /* The bottom margin was creating a gap of white space below the footer */
}

.list-inline-item {
    width: 20%;
}


.social-links li a i {
    width: 75px;
    height: 75px;
    padding: 17px 0;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: #27527f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #0f5f7b;
    color: #fbc500;
}

/*------------------------------------------------------Block Dividers--*/

.block-divider {
    width: 100%;
    height: 3px;
    border: 0;
    background-color: #fbc500;
    margin: 0;
}

.divider-short {
    width: 70%;
    height: 3px;
    border: 0;
    background-color: #fbc500;
    margin: 0 auto;
}

/*------------------------------------------------------Buttons--*/

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0A273C;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#topBtn:hover {
    background-color: #2a2727;
}

.btn--cta {
    height: 25px;
    font-size: 20px;
    line-height: 1px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: bold;
    width: 100%;
    border-radius: 0;
    background-color: #211c1c;
    color: white;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.btn--cta:hover {
    background-color: #0A273C;
    color: #fbc500;
}

.btn-modal {
    font-weight: bold;
    border-radius: 23px;
    width: 90px;
    background-color: #27527f;
    color: white;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.btn-modal:hover {
    color: #0f5f7b;
    background-color: #fbc500;


}

/*------------------------------------------------------Contact--*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #27527f;
}

.contact-text {
    margin-bottom: 15px;
}

.contact-text p {
    color: black;
    width: 75%
}

/*------------------------------------------------------Media Queries--*/

/* CARDS */

/* Makes the width of a single card more proportional in the mobile view of the site. */

@media(min-width:476px) {
    .card {
        width: 90%;
    }
}

@media(min-width:576px) {
    .card {
        width: 75%;
    }
}

@media(min-width:676px) {
    .card {
        width: 60%;
    }
}

@media(min-width:768px) {
    .card {
        width: 100%;
    }
}

@media(min-width:992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}
