@import url('https://fonts.googleapis.com/css?family=Russo+One:100,200,300,400,500,600,700|Press+Start+2P:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Cinzel+decorative:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
/*------------------------------------------------------Colours--*/

.bg-color-title {
    background-color: #fbc500;
}

.bg-color-navbar {
    background-color: #09353a;
}

.bg-color-main {
    background-color: #09353a;
}

/*--------------------------------------------------------Special paddings/margins/text */

.section-column {
    padding: 0 8% 100px;
}

p {
    color: white;
    font-size: 25px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.footer-sub {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

/*------------------------------------------------------Icons--*/

.fa-star {
    color: gold;
}

/*------------------------------------------------------Header--*/

.title {
    font-family: "Russo One", sans-serif;
    text-align: center;
    color: #f7c400;
    font-size: 35px;
    font-weight: 700;
    margin-top: 10px;
    padding-left: 10px;
}

nav {
    width: 100%;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    margin-left: 20px;
    padding: 0;
}

nav ul {
    margin: 0 auto;
}

.btn--cta {
    margin-right: 20px;
}

li a {
    color: #fbc500;
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    transition: all 0.2 5s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

li a:hover {
    background-color: #fbc500;
    border-color: #09353a;
    color: #09353a;
}

.carousel {
    max-height: 100vh;
}

.carousel-item img {
    max-height: 700px;
}

/*------------------------------------------------------News-section--*/

.section-heading {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: "Press+Start+2P", sans-serif;
    margin: 50px auto 80px;
    color: #fbc500;
    text-decoration: underline;
}


.media img {
    display: block;
    margin: 0 auto 20px;
}

.media-body {
    margin-bottom: 40px;
}

/*------------------------------------------------------Games-section--*/

.games-section-column {
    padding: 0px 18% 60px;
}

.card-container {
    text-align: center;
}

.card {
    margin: 0 auto 40px;
    text-align: center;
    background-color: #c99807;
}

.card img {
    height: 220px;
}

/*------------------------------------------------------About-section--*/

.about {
    text-align: center;
}

.about img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 20px;
}



/*------------------------------------------------------Footer--*/

.social-media {
    height: 100px;
    background-color: #2a2727;
}

.social-media ul {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}

/*------------------------------------------------------Block Dividers--*/

.block-divider {
    width: 100%;
    height: 3px;
    border: 0;
    background-color: #fbc500;
    margin: 0;
}

.divider-short {
    width: 70%;
    height: 3px;
    border: 0;
    background-color: #fbc500;
    margin: 0 auto;
}

/*------------------------------------------------------Buttons--*/

.btn--cta {
    font-size: 20px;
    font-weight: bold;
    border-radius: 23px;
    width: 140px;
    background-color: #27527f;
    color: white;
}

.btn--cta:hover {
    background-color: #fbc500;
    border-color: #09353a;
    color: #09353a;
}
